<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcStandart" />
                <binding name="CalcAdvance" />
                <binding name="CalcSciense" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.39:8733/Design_Time_Addresses/Calc"
                binding="basicHttpBinding" bindingConfiguration="CalcStandart"
                contract="CalcService.ICalcStandart" name="CalcStandart" />
            <endpoint address="http://192.168.1.39:8733/Design_Time_Addresses/Advance"
                binding="basicHttpBinding" bindingConfiguration="CalcAdvance"
                contract="CalcService.ICalcAdvansed" name="CalcAdvance" />
            <endpoint address="http://192.168.1.39:8733/Design_Time_Addresses/Sciense"
                binding="basicHttpBinding" bindingConfiguration="CalcSciense"
                contract="CalcService.ICalcScience" name="CalcSciense" />
        </client>
    </system.serviceModel>
</configuration>