<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceStudent" />
                <binding name="ServiceMark" />
                <binding name="ServiceSubject" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.40:8733/Design_Time_Addresses/Journal/Student"
                binding="basicHttpBinding" bindingConfiguration="ServiceStudent"
                contract="ServiceReference1.IStudent" name="ServiceStudent" />
            <endpoint address="http://192.168.1.40:8733/Design_Time_Addresses/Journal/Mark"
                binding="basicHttpBinding" bindingConfiguration="ServiceMark"
                contract="ServiceReference1.IMark" name="ServiceMark" />
            <endpoint address="http://192.168.1.40:8733/Design_Time_Addresses/Journal/Subject"
                binding="basicHttpBinding" bindingConfiguration="ServiceSubject"
                contract="ServiceReference1.ISubject" name="ServiceSubject" />
        </client>
    </system.serviceModel>
</configuration>