<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="Timer" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.40:8733/Design_Time_Addresses/"
                binding="wsDualHttpBinding" bindingConfiguration="Timer" contract="ServiceReference1.IService1"
                name="Timer">
                <identity>
                    <userPrincipalName value="USER-PC\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>